
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
.header {
  padding: 70px;
  text-align: center;
  background-color: black;
  color: white
}

h4 {
  text-align:center
}
.navbar {
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: center;
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: white;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.card {
  width: 18rem;
}
/* Fake image */
.imageplaceholder {
  background-color: #727272;
  width: 100%;
  height: 100px;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #2b2a2a;
}
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

.mac-wrapper {
  position: relative; /* The anchor for everything else */
  width: 600px; 
}

.slot-gate {
  position: absolute;
  /* Coordinates: Adjust these to match the black slot in your Mac vector */
  top: 72%; 
  left: 35%;
  width: 200px;
  height: 20px;
  
  overflow: hidden; /* Clipping Mask */
  perspective: 1000px; /* 3D perspective */
  z-index: 5;
}

.floppy-disk {
  position: absolute;
  top: 0;
  left: 0;
  /* Start the floppy outside the slot-gate and drag it in */
}
